<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

<body>


  <!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Weather App</a></li>
        
      </ul>
    </div>
  </nav> -->

  <!-- <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Weather App</a>
    </li>
    <li class="nav-item1">
      <a class="nav-link" [routerLink]="['/login-control/login']" href="#">Logout</a>
    </li>
     <li class="nav-item1">
        <a class="nav-link" href="#">Sign In</a>     
    </li> 

  </ul> -->


  <body>
    <div class="container">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <ul class="inline-block">
         <!-- <li>
          <img src="https://static8.depositphotos.com/1451970/919/v/950/depositphotos_9192082-stock-illustration-weather-icon-sun.jpg" 
          class="img-fluid center-block" alt="">
         </li> -->
          <li>
            <a class="navbar-brand" href="#">Weather App</a>
          </li>
        </ul>

        </div>
        <div class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-right">
           
            <li class="log"><a [routerLink]="['/login-control/login']" >Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
    <!-- <footer class="container-fluid text-center bg-lightgray">

    <div class="copyrights" style="margin-top:25px;">
      <p>Copyright © 2017, All Rights Reserved
        <br>
        <span>Web Design By: Kaustubh Jaiswal</span></p>
      <p><a href="https://www.linkedin.com/in/michael-clark-webdeveloper" target="_blank">Linkedin <i class="fa fa-linkedin-square" aria-hidden="true"></i> </a></p>
    </div>
  </footer> -->


    <footer class="nb-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="about">
              <!-- <img src="https://static8.depositphotos.com/1451970/919/v/950/depositphotos_9192082-stock-illustration-weather-icon-sun.jpg" 
              class="img-fluid center-block" alt=""> -->
              <p>ALL TIMES ARE GMT (ATLANTIC/REYKJAVIK, GMT+0000) UNLESS OTHERWISE STATED.</p>

              <div class="social-media">
                <ul class="list-inline">
                  <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-facebook"></i></a></li>
                  <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-twitter"></i></a></li>
                  <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-info-single">
              <h2 class="title">Help Center</h2>
              <ul class="list-unstyled">
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> How to Pay</a></li>
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Sitemap</a></li>
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Delivery Info</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-info-single">
              <h2 class="title">Customer information</h2>
              <ul class="list-unstyled">
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> About Us</a></li>
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Sell Your Items</a></li>
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> RSS</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-info-single">
              <h2 class="title">Security & privacy</h2>
              <ul class="list-unstyled">
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Terms Of Use</a></li>
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Return / Refund Policy</a></li>
                <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i> Store Locations</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="footer-info-single">
              <h2 class="title">Note</h2>
              <p>INFORMATION GIVEN FOR MOST APPROPRIATE FORECAST LOCATION. SEE FAQS FOR DETAILS</p>

            </div>
          </div>
        </div>
      </div>

      <section class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p>Copyright © 2017. Weather App.</p>
            </div>
            <div class="col-sm-6"></div>
          </div>
        </div>
      </section>
    </footer>

  </body>